fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.8.2
requests==2.32.3
PyJWT[crypto]==2.8.0
python-jose[cryptography]==3.3.0
cryptography==42.0.5
firebase-admin==6.3.0
google-auth==2.25.2
PyYAML==6.0.1
